<div class="container-fluid">
  <div class="row team-form">
    <div class="col-xs-6 col-xs-offset-3">
      <p>Team Name: </p>
      <%= f.text_field :name %>
      <p>Founded in: </p>
      <%= f.text_field :founded_in %>
      <p>Logo: </p>
      <%= f.text_field :logo %>
      <p>Twitter: </p>
      <%= f.text_field :twitter %>
      <br>
      <div class="submit">
        <%= f.submit "Save" %>
      </div>
    </div>
  </div>
</div>
