<div class="container-fluid">
  <div class="row team-form">
    <div class="col-xs-6 col-xs-offset-3">
      <%= link_to "Back", :back%>

      <%= f.text_field :name %>
      <p>Team Name</p>
      <%= f.text_field :founded_in %>
      <p>Founded in</p>
      <%= f.text_field :logo %>
      <p>Logo</p>
      <%= f.text_field :twitter %>
      <p>Twitter</p>
      <br>
      <div class="submit">
        <%= f.submit "Save" %>
      </div>
    </div>
  </div>
</div>
