<div class="team-index">

  <h1>Manage Teams</h1>
  <%= link_to "Create New Team", new_team_path %>

  <% @teams.each do |team| %>
    <p>
      <%= team.name %>:
      <%= link_to "View", team %>
      <%= link_to edit_team_path(team) do %>
        <i class="glyphicon glyphicon-pencil"></i>
      <% end %>
      <%= link_to destroy_team_path(team), data: { confirm: "Are you sure you want to delete" }, method: :delete do %>
        <i class="glyphicon glyphicon-trash"></i>
      <% end %>
    </p>
  <% end %>
</div>
