<div class="container-fluid team-show">
  <div class="row">
    <div class="col-lg-3 col-lg-offset-1 col-sm-4 col-sm-offset-1 col-xs-8 col-xs-offset-2">
      <div class="team-left-info">
        <div class="image">
          <%= image_tag @team.logo %>
        </div>
        <h2><%= @team.name %></h2><hr/>

        <div class="info">
          Founded in: <%= @team.founded_in %>
          <p>Country: <%= @team.country %></p>
        </div>
        <div class="admin">
          <% if signed_in? && current_user.admin? %>
            Admin Tools:
            <%= link_to edit_team_path do %>
              <i class="glyphicon glyphicon-pencil"></i>
            <% end %>
            <%= link_to destroy_team_path, data: { confirm: "Are you sure you want to delete" }, method: :delete do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
            <%= link_to add_player_select_path(@team) do %>
              <i class="glyphicon glyphicon-plus"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 timeline">
      <h4>Recent Tweets from
        <span class="socials">
          <% if @team.twitter? %>
            <a href="https://www.twitter.com/<%=@team.twitter%>">
              <span class="fa fa-twitter"></span><%= @team.twitter %>
            </a>
          <% end %>
        </span>
      </h4>
      <div class="twitter-feed">
        <% @tweets.each do |tweet| %>
          <div class="tweet-card">
            <div class="tweet-text">
              <%= tweet.text %>
            </div>
            <div class="tweet-data">
              <span class="fa fa-retweet blue"></span><%= tweet.retweet_count %>
              <span class="fa fa-star red"></span><%= tweet.favorites_count %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row player-list">
    <div class="col-xs-10 col-xs-offset-2">
      <div class="row">
        <% @players.each do |player| %>
          <div class="col-md-2 col-md-offset-0 col-xs-5 card">
            <div class="image">
              <%= image_tag player.photo %>
              <h4><%= player.gamer_tag %></h4>
            </div>
            <div class="favorite">
              <% if signed_in? %>
                <% unless current_user.favorite_players.exists?(id: player) %>
                  <%= link_to favorite_players_path(player), method: :post do %>
                    <i class="glyphicon glyphicon-heart-empty"></i>
                  <% end %>
                <% else %>
                  <%= link_to favorite_player_path(player), method: :delete do %>
                    <i class="glyphicon glyphicon-heart"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
            <div class="card-info">
              <p class="name"><%= player.name %></p>
              <div class="socials">
                <div class="twitter">
                  <span class="fa fa-twitter"></span>
                    <% if player.twitter? %>
                      <a href="https://twitter.com/<%=player.twitter%>"><%= player.twitter %></a>
                  <% end %>
                </div>
                <div class="insta">
                  <span class="fa fa-instagram"></span>
                    <% if player.instagram? %>
                      <a href="https://www.instagram.com/<%=player.instagram%>"><%= player.instagram %></a>
                  <% end %>
                </div>
              </div>
              <p class="role">Role: <%= player.role %></p>
              Country: <%= player.country %>
            </div>

            <div class="admin">
              <% if signed_in? && current_user.admin? %>
                Admin Tools:
                <%= link_to delete_player_path(@team, player), method: :delete do %>
                  <i class="glyphicon glyphicon-trash"></i>
                <% end %>
                <%= link_to edit_player_path(player) do %>
                  <i class="glyphicon glyphicon-pencil"></i>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
