
<div class="profile-form">
  <%= link_to "Back", :back %>
  <h2>Edit Profile</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <%= render partial: "users/form", locals: {f:f} %>

  <% end %>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <!-- <%= link_to "Change my password" %> <br/> -->
    </div>
  </div>

</div>
