<div class="container-fluid">
  <div class="row">
    <div class="profile col-sm-8 col-sm-offset-2">
      <div class="cover">
        <%= image_tag @user.cover_photo, id:"cover" if @user.cover_photo? %>
        <%= image_tag @user.photo, id:"photo" if @user.photo? %>
        <% if !current_user.nil? && current_user == @user %>
          <%= button_to "Update", edit_user_registration_path(@user), :method => "get" %>
        <% end %>
      </div>
      <div class="row">
        <div class="col-xs-8 col-xs-offset-4">
          <div class="info">
            <span class="admin">
              <% if signed_in? && current_user.admin? %>
                <i class="glyphicon glyphicon-star"></i>
              <% end %>
            </span>
            <%= @user.username %>
          </div> <!-- info -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-5">
          <div class="country">
            <i class="glyphicon glyphicon-map-marker"></i>
            <%= @user.country %>
          </div>
          <div class="signed-in">
            Last signed in <%= time_ago_in_words(@user.last_sign_in_at) %> ago
          </div>
          <div class="created-at">
            Member since <%= @user.created_at.strftime("%B %-d, %Y") %>
          </div>
          <div class="socials">
            <div class="twitter">
              <% if @user.twitter? %>
                <a href="https://twitter.com/<%=@user.twitter%>">
                  <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/twitter_circle_black-128.png" alt="">
                  <%= @user.twitter %>
                </a>
              <% end %>
            </div>
            <div class="insta">
              <% if @user.instagram? %>
                <a href="https://www.instagram.com/<%=@user.instagram%>">
                  <img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-3-128.png" alt="">
                  <%= @user.instagram %>
                </a>
              <% end %>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          Favorite Events <hr>
          <% @fav_events.each do |event| %>
            <div class="">
              <%= link_to event.name, event %>
            </div>
          <% end %>
          Favorite Teams<hr>
          <% @fav_teams.each do |team| %>
            <div class="">
              <%= team.name%>
            </div>
          <% end %>
          Favorite Players<hr>
          <% @fav_players.each do |player| %>
            <div class="">
              <%= player.gamer_tag%>
            </div>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>
