<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="event-card">
      <div class="name">
        <%= link_to event.name, event_path(event) %>
      </div>
      <%= image_tag event.image %>
      <div class="card-content">
        <div class="date">
          <%= event.date.strftime("%B %-d") %> - <%= event.date_end.strftime("%B %-d, %Y") %>
        </div>
        <div class="city">
          <%= event.city %>
        </div>
        <div class="favorite">
          <% if signed_in? %>
            <% unless current_user.favorite_events.exists?(id: event) %>
              <%= link_to favorite_events_path(event), method: :post do %>
                <i class="glyphicon glyphicon-heart-empty"></i>
              <% end %>
            <% else %>
              <%= link_to favorite_event_path(event), method: :delete do %>
                <i class="glyphicon glyphicon-heart"></i>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
