<div class="home">

  <div class="splash">

  </div>

  <div class="month-bar">
    <ul class="grid">
      <li class="month"><%= link_to "June", fetch_month_path(:month => 6), remote: true %></li>
      <li class="month"><%= link_to "July", fetch_month_path(:month => 7), remote: true %></li>
      <li class="month"><%= link_to "August", fetch_month_path(:month => 8), remote: true %></li>
      <li class="month"><%= link_to "September", fetch_month_path(:month => 9), remote: true %></li>
      <li class="month"><%= link_to "October", fetch_month_path(:month => 10), remote: true %></li>
      <li class="month"><%= link_to "November", fetch_month_path(:month => 11), remote: true %></li>
    </ul>
  </div> <!-- month-bar -->

</div> <!-- home -->


<div id="current-month">
</div>

<%= console %>
