<div class="container-fluid event-form">
  <div class="row">
    <div class="col-md-3 col-md-offset-0 col-md-offset-1 col-xs-8 col-xs-offset-2">
      <%= f.text_field :name %>
      <p>Event Name</p>
      <%= f.text_field :organizer %>
      <p>Organizer</p>
      <%= f.date_field :date %>
      <p>Start Date</p>
      <%= f.date_field :date_end %>
      <p>End Date</p>
      <%= f.text_field :city %>
      <p>City</p>
    </div>
    <div class="col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
      <%= f.text_field :country %><br />
      <p>Country </p>
      <%= f.text_field :venue %><br />
      <p>Venue </p>
      <%= f.select :event_type, ['minor', 'big', 'major'] %>
      <p>Event Type </p>
      <%= f.text_field :prize %>
      <p>Prize </p>
      <%= f.text_field :image %>
      <p>Image </p>
    </div>
    <div class="col-md-3 col-md-offset-0 col-xs-8 col-xs-offset-2">
      <%= f.text_field :min_age %>
      <p>Minimum Age </p>
      <%= f.text_field :stream %>
      <p>Stream Link </p>
      <%= f.text_field :tickets %>
      <p>Tickets </p>
      <%= f.text_field :ticket_price %>
      <p>Ticket Price </p>
    </div>
    <div class="col-md-2 col-md-offset-0 col-xs-8 col-xs-offset-2" id="booleans">
      <p>Stadium <%= f.check_box :stadium %></p>

      <p>VIP Tix sold? <%= f.check_box :vip_tickets %></p>

      <p>Food Drink sold? <%= f.check_box :food_drinks %></p>

      <p>Alcohol sold? <%= f.check_box :alcohol %></p>

      <p>Merch sold? <%= f.check_box :merch_sold %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3">
      <%= f.submit "Save" %>
    </div>
  </div>

</div>
