<div class="row">
  <div class="col col-md-3 col-md-offset-3">
        bootstrap test
    </div>

  </div>

</div>

<%= search_form_for @q do |f| %>

  Name contains...
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  Organizer starts with..
  <%= f.label :organizer_start %>
  <%= f.search_field :organizer_start %>

  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th><%= sort_link(@q, :name) %></th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>Name</td>
        <td> <%= event.name %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
