<h1>Events Index Page</h1>
<%= link_to "Create New Event", new_event_path %>

<% @events.each do |event| %>
  <div class="">
    Name: <%= link_to event.name, event_path(event)%>
    City: <%= event.city %>
    Country: <%= event.country %>
    Venue: <%= event.venue %>
    ID: <%= event.id %>
    <%= link_to "edit", edit_event_path(event) %>
  </div>
<% end %>
