<h1>Events Index Page</h1>

<% @events.each do |event| %>
  <div class="">
    Name: <%= link_to event.name, event_path(event)%>
    City: <%= event.city %>
    Country: <%= event.country %>
    Venue: <%= event.venue %>
    ID: <%= event.id %>
  </div>
<% end %>
