<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= search_form_for @q do |f| %>
        <div class="row">
          <div class="col-md-4">
            <%= f.label "Search by name, organizer, venue, city, or country" %><br/>
            <%= f.search_field :name_or_organizer_or_venue_or_city_or_country_cont %>
          </div>
          <div class="col-md-4">
            <%= f.submit %>
          </div>
        </div>
        <div class="row">
          <%= f.label "Food & Drinks Sold" %>
          <%= f.check_box :food_drinks_true, include_hidden: false %><br />
          <%= f.label "Stadium" %>
          <%= f.check_box :stadium_true, include_hidden: false %><br />
          <%= f.label "VIP Tickets" %>
          <%= f.check_box :vip_tickets_true, include_hidden: false %><br />
          <%= f.label "Merch Sold" %>
          <%= f.check_box :merch_sold_true, include_hidden: false %><br />
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= sort_link(@q, :name) %>
        <% @events.each do |event| %>
        <div class="test">
          <%= event.name %>
        </div>
        <div class="test">
          <%= event.organizer %>
        </div>
        <div class="test">
          <%= event.date %> to <%= event.date_end %>
        </div>
        <div class="test">
          <%= event.venue %>
        </div>
        <div class="test">
          <%= event.city %>
        </div>
        <div class="test">
          <%= event.country %>
        </div>
        <div class="test">
          <%= link_to "Website", event.tickets %>
        </div>
        <div class="test">
          <%= link_to "Stream", event.stream %>
        </div>
        <%= link_to "edit", edit_event_path(event) %>
        <br/>
        <br/>
        <% end %>
    </div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>

</div>
