<h1>Event Show Page</h1>
<%= link_to "Back", :back%>

<div class="">
  Name: <%= @event.name %>
  City: <%= @event.city %>
  Country: <%= @event.country %>
  Venue: <%= @event.venue %>
</div>

<%= link_to "edit", edit_event_path(@event) %>
<%= link_to "delete", destroy_event_path(@event), data: { confirm: "Are you sure you want to delete" }, method: :delete %>
</div>
