<div class="container-fluid">
  <div class="row player-form">
    <div class="col-xs-6 col-xs-offset-3">
      <%= link_to "Back", :back%>

      <%= f.text_field :name %>
      <p>Full Name</p>
      <%= f.text_field :gamer_tag %>
      <p>Gamer Tag</p>
      <%= f.select :role, ['AWPer', 'Support', 'Entry', 'Rifler', 'IGL']%>
      <p>Role:</p>
      <%= f.text_field :photo %>
      <p>Photo</p>
      <%= f.text_field :twitter %>
      <p>Twitter</p>
      <%= f.text_field :instagram %>
      <p>Instagram</p>
      <br>
      <div class="submit">
        <%= f.submit "Save" %>
      </div>
    </div>
  </div>
</div>
