<div class="container-fluid">
  <div class="row team-form">
    <div class="col-xs-6 col-xs-offset-3">
      <p>Player Full Name: </p>
      <%= f.text_field :name %>
      <p>Gamer Tag:</p>
      <%= f.text_field :gamer_tag %>
      <p>Role:</p>
      <%= f.select :role, ['AWPer', 'Support', 'Entry', 'Rifler', 'IGL']%>
      <p>Photo: </p>
      <%= f.text_field :photo %>
      <p>Twitter: </p>
      <%= f.text_field :twitter %>
      <p>Instagram: </p>
      <%= f.text_field :instagram %>
      <br>
      <div class="submit">
        <%= f.submit "Save" %>
      </div>
    </div>
  </div>
</div>
