<header>
  <div class="jumbotron">
    <div class="logo-left">
      <%= link_to "SPECTATE", root_path %>
      <%= link_to "Events", events_path, class: "events" %>
      <%= link_to "Spotted", root_path, class: "events"%>
    </div>
    <div class="pull-right dropdown">
      <% if signed_in? %>
      <div class="dropbtn">
        Welcome, <%= current_user.first_name%>
      </div>
      <div class="dropdown-content">
        <%= link_to "View Profile" %>
        <%= link_to "Edit Profile", edit_user_registration_path %>
        <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, class: "signout" %>
      </div>
      <% else %>
        <%= link_to "Sign In", new_user_session_path, class: "signin" %>
        <%= link_to "Sign Up", new_user_registration_path, :method => :get, class: "signup" %>
      <% end %>
    </div>
  </div>
</header>
