<!DOCTYPE html>
<html>
  <head>
    <title>Spectate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render '/layouts/nav' %>

    <!-- Devise & Flash Messages (notice, alert) -->
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <section id="tweets">
      <ul>
        <% @tweets.each do |tweet| %>
          <li><%= link_to tweet.text, "https://www.twitter.com/#{tweet.user.screen_name}" %></li>
        <% end %>
      </ul>
    </section>

    <%= console %>
  </body>
</html>
