<!DOCTYPE html>
<html>
  <head>
    <title>Spectate</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render '/layouts/nav' %>

    <%= yield %>



    <!-- <footer>
      <div class="footer">
        <ul class="list-style:none">
          <li><a href="https://github.com/janeosaur/"> Git Hub </a> </li>
          <li class="pull-right">© all rights reserved</li>
        </ul>
      </div>
    </footer> -->
  </body>
</html>
